<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>David Fincher tribute</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <h1>Welcome to my tribute website to Master David Fincher</h1>

    <a href="/templates/index.html" target="_blank">Home</a>
    <span> | </span>
    <a href="/templates/about.html" target="_blank">About</a>
    <hr />

    <div>
      <img style="border: solid 2px;" src="/assets/images/fincher profile.jpeg" width="200" />
    </div>

    <h3>Fincher's filmography:</h3>
    <a
      href="https://en.wikipedia.org/wiki/David_Fincher_filmography"
      target="_blank"
      >filmography</a
    >
    <br />

    <p>
      'She looked back and smiled. That was my start, he thought, feeling his
      throat going dry again.' -Seven
    </p>
    <hr />

    <h3>Fincher trivia</h3>
    <ul>
      <li>
        David Fincher was fascinated with filmmaking from the age of eight, when
        he began making films with an 8mm camera. He also directed plays,
        designed sets and lighting after school, and worked as a non-union
        projectionist at a theater and as a production assistant at a local
        television news station​​.
      </li>
      <br />
      <li>
        Fincher directed numerous music videos, including Madonna's "Express
        Yourself" in 1989 and "Vogue" in 1990, both of which won him the MTV
        Video Music Award for Best Direction. He considered the production of
        music videos as his own "film school," where he learned to work
        efficiently within a small budget and time frame
      </li>
      <br />
      <li>
        Fincher received Academy Award nominations for Best Director for "The
        Curious Case of Benjamin Button," "The Social Network," and "Mank." He
        also directed other notable films like "The Girl with the Dragon Tattoo"
        and "Gone Girl"​​.
      </li>
    </ul>

    <h3>Among his favorite films:</h3>
    <ul>
      <li>All That Jazz (1979)</li>
      <li>Alien (1979)</li>
      <li>Jaws (1975)</li>
    </ul>

    <h3>My top 3 Fincher films</h3>
    <table border="1">
      <thead>
        <tr>
          <th>film</th>
          <th>release year</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Fight Club</td>
          <td>1999</td>
        </tr>
        <tr>
          <td>Seven</td>
          <td>1995</td>
        </tr>
        <tr>
          <td>The Social Network</td>
          <td>2010</td>
        </tr>
      </tbody>
    </table>
    <br />
    <div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/znmZoVkCjpI?si=dsa0z8ehs1xfINwD"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <span>All rights reserved to master David Fincher ©</span>
  </body>
</html>
